
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/crearaparatoadmin/" method="POST">
                        <div class="form-group">
                         <input type="text" name="nombre_aparato" class="form-control" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="estado_aparato" class="form-control" placeholder="estado" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>